div::-webkit-scrollbar {
  width: 5px;
  /* Largeur de la barre de défilement */
}

div::-webkit-scrollbar-thumb {
  background-color: rgb(215, 203, 203);
  border-radius: 1em;
}
.message-list {
  position: relative;
  width: 400px;
    height: 400px;
  margin: auto;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: visible;
  overflow-x: hidden;
  box-shadow: 0px 0px 5px 2px #d8d1d1b3;
  background: rgb(242, 242, 242);
  scroll-margin-top: 100000px;
}

.disconnect {
  box-shadow: 0px 0px 5px 2px #d8d1d1b3;
  padding: 10px;
  border-radius: 2em;
  margin-top: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 14px;
  transition: 0.3s;

}

.disconnect:hover {
  box-shadow: 0px 0px 5px 4px #d8d1d1b3;
  cursor: pointer;
}
.scs {
  display: flex;
  flex-direction: column;
}

.username {
  box-shadow: 0px 0px 5px 2px #d8d1d1b3;
  position: absolute;
  left: -19px;
  border-radius: 20em;
  height: 15px;
  width: 15px;
  font-size: 10px;
  text-align: center;
  top: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-weight: bold;
  text-transform: uppercase;
}

.msg {
  width: 500px;
  height: 60px;
  border-radius: 1em;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: none;
  font-size: 20px;
  box-shadow: 0px 0px 6px 1px #0000004d;
}

.msg-container {
  display: inline-block;
  background: hsla(240, 100%, 46%, 0.169);
  position: absolute;
  margin-top: 20px;
  margin-left: 22px;
  border-radius: 2em;
  clear: both;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  opacity: 0;
  transition: 0.9s;
}

.msg-container-apply {
  display: none;
}

.msg-container p {
  font-size: 12px;
}

.msg-container-right {
  right: 0;
  margin-right: 32px;
  background: #75cfff;
}

.username-right {
  left: inherit;
  right: -19px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

input:focus {
  outline: none;
  /* supprime le contour de focus */
  border: none;
  /* supprime la bordure */
}

input[type="submit"] {
  width: 150px;
  height: 40px;
  background-color: white;
  border: none;
  box-shadow: 0px 0px 6px 1px #0000004d;
  border-radius: 1em;
  margin-top: 20px;
  transition: 0.3s ease;
}

input[type="text"] {
  font-size: 12px;
  ;
  width: 300px;
  height: 40px;
  background-color: white;
  border: none;
  box-shadow: 0px 0px 6px 1px #0000004d;
  border-radius: 1em;
  margin-top: 20px;
  transition: 0.3s ease;
}

div p {
  text-align: center;
  font-family: 'Lucida Sans';
  font-size: 30px;

}

input[type="submit"]:hover {

  box-shadow: 0px 0px 6px 1px #9e92924d;
}